{% extends "ticketapp/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
  <article class="media content-section">
    <div class="media-body">
      <div align="center" classs="border-top pt-3">
      <table border="1">
        <th border="1">Request ID</th><th border="1">Request Type</th><th border="1">Request Desc</th><th border="1">Request Date</th><th border="1">Status</th>
        <tr>
        {% for t in ticket %}
            <td border="1">{{ t.id }}</td><td border="1">{{ t.RequestType }}</td><td border="1"><a href="{% url 'ticket-detail' t.id %}">{{ t.RequestDescription }}</a></td><td border="1">{{ t.date_posted }}</td><td border="1">{{ t.status }}</td>
            <tr>
        {% endfor %}
      </table>
      <br>
        <small class = "text-muted">
         <a class="ml-2" href="{% url 'ticket-create' %}">New Request</a>
        </small>
      </div>
    </div>
  </article>
{% endblock content %} 